body {
    font-family: serif;
  }
  
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  
  /* padding styles for the below screen*/
  .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  /* adjustment for larger than medium  screens */
  @media (min-width: 768px) {
    .container {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }